#orlist{
    font-family: "NanumSquareOTFR";
    color: #333;
    font-size: 35px;
}


table{width: 100%;
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

colgroup{
	display: table-column-group;
}
    
    
caption {
    display: table-caption;
    text-align: -webkit-center;
}